#!/bin/bash
set -euo pipefail

# install packages (idempotent, no prompts)
sudo pacman -S --needed --noconfirm {{ range .packages.plasma.pacman }}{{ . }} {{ end }}

# system services
sudo systemctl enable --now power-profiles-daemon

# user audio services
systemctl --user enable --now pipewire pipewire-pulse wireplumber

echo "Plasma installed."
