{{- $name  := promptStringOnce . "git_user_name"  "Git user name" -}}
{{- $email := promptStringOnce . "git_user_email" "Git email" -}}
[data]
    git_user_name  = {{ $name  | quote }}
    git_user_email = {{ $email | quote }}
