{{ if (default false .kmonad) }}
(defcfg
	input  (device-name "AT Translated Set 2 keyboard")
	output (uinput-sink "KMonad kbd")
	fallthrough true
)

(defsrc
	esc
	caps
)

(deflayer switch
	caps
	esc
)
{{ end }}
