{{ if .kmonad }}
(defcfg
	input  (device-file "/dev/input/by-path/platform-*-event-kbd")
	output (uinput-sink "KMonad kbd")
	fallthrough true
)

(defsrc
	esc
	caps
)

(deflayer switch
	caps
	esc
)
{{ end }}
